<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Services Data</div>
      </div>
      <div class="card-body">
          <a class="btn btn-primary" routerLink="/dashboard/service/create">New Service</a>
        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Sub Title</th>
              <th scope="col">Paragraph</th>
              <th scope="col">Image</th>
              <th scope="col">Update</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of data">
              <td>{{ service.title }}</td>
              <td>{{ service.subTitle }}</td>
              <td>{{ service.paragraph }}</td>
              <td><img [src]="service.image ? apiUrl + service.image : ''" alt="{{ service.name }}" style="width: 80px;"></td>
              <td>  <button class="btn btn-success btn-sm" (click)="goToUpdatedPage(service._id)">Edit</button></td>
              <td>  <button class="btn btn-danger btn-sm" (click)="goToDeleteData(service._id)">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


