 <!-- Start Why Choose Us Section -->
 <div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h2 class="section-title">{{this.data.title}}</h2>
        <p>{{this.data.subTitle}}</p>
</div>

      <div class="col-lg-5">
        <div class="img-wrap">
          <img src={{this.data.image}} alt={{this.data.title}} class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Why Choose Us Section -->
