<div class="container mt-5">
  <h2>Update Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" id="name"class="form-control"
      formControlName="name">
      <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">Product name is required.</div>
    </div>

    <div class="form-group">
      <label for="desc">Description</label>
      <input id="desc" name="desc" class="form-control"
      formControlName="desc"
      >
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" min="10" max="10000" id="price" name="price" class="form-control"
      formControlName="price">
      <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">Price is required.</div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
