<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Products Data</div>
      </div>
      <div class="card-body">
          <a class="btn btn-primary" routerLink="/dashboard/product/create">New Product</a>
        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Image</th>
              <th scope="col">Update</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of data">
              <td>{{ product.name }}</td>
              <td>{{ product.desc }}</td>
              <td>{{ product.price | currency }}</td>
              <td><img [src]="product.image ? apiUrl + product.image : ''" alt="{{ product.name }}" style="width: 80px;"></td>
              <td>  <button class="btn btn-success btn-sm" (click)="goToUpdatedPage(product._id)">Edit</button></td>
              <td>  <button class="btn btn-danger btn-sm" (click)="goToDeleteData(product._id)">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


