<form>
  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">register</h1>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
    email
  </label>
    <input
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                v-model="email" />
                <p class="text-red-600"></p>
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
    userName
  </label>
    <input
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                v-model="userName" />

                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    password
                </label>

            <input
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                v-model="password"/>
                <p class="text-red-600"></p>
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
    retypepassword
  </label>
            <input
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="retypepassword"
                v-model="retypePass"
                 />
                 <p class="text-red-600"></p>

            <button   type="submit" class="py-2 px-5 bg-violet-500 text-white font-semibold rounded-md shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75">
                create a new account

</button>
<div class="text-grey-dark mt-6">
    already have account?

                    <a routerLink="/login" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" >
                        login
                    </a>.
                </div>
        </div>


    </div>
</div>
</form>
